a:hover{
	color: #7ac673;
}

a.fa, .fa  {
    font-size: 50px;
    color: #7ac673;
    margin: 10px;
}

a.fa:hover{
	color: #ED7161;
}

body{
	width: 800px;
	margin:0px auto;
	display: block;
	/*Flex allows the elements to wrap*/
	display: flex;
  	flex-direction: column;
}

div#featuredWork{
	/*max-width: 850px;*/
	margin-left: auto;
	margin-right: auto;
	/*Flex allows the elements to wrap*/
	display: flex;
  	/*flex-direction: column;*/
  	flex-wrap: wrap;
}

div#name{
	max-width: 100%;
	margin: 5px;
}

div#socialIcon{
	/*width: 100%;
	margin: 2px auto;
	display: flex;
	flex-wrap: wrap;*/
	/*margin: 15px;*/
	background-color: #fff;
	padding: 10px;
}

figcaption{
	font-family: 'Exo 2', sans-serif;
	color: #ED7161;
	font-size: 20px;
	text-transform: uppercase;
}

figure#figFeaturedWork{
	/*float: left;*/
	width: calc((100% - 25px)/3);
	margin-right: 10px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

figure#figFeaturedWork:hover{
	/*padding: 2px;*/
	border-bottom: 3px solid #7ac673;
	background-color:  #eee;
}

figure#figFeaturedWork:last-of-type{
	margin-right: 0px;
}

figure#figFeaturedWork:hover{
	/*padding: 2px;*/
	border-bottom: 3px solid #7ac673;
	background-color:  #eee;
}

footer{
	background-color: #7ac673;
	width: 100%;
	text-align: center;
}

h1,h4{
	margin:0px;
	text-align: right;
}

h1{
	color: #7ac673;
}

h2{
	color: #7c6599;
	font-size: 30px;
	margin: 10px;
}

h4{
	color: #ED7161;
}

h1,h2,h4{
	font-family: 'Roboto', sans-serif;
}

h2, figcaption, p#imgURL{
	text-align: center;
	margin:5px; 
}

img {
  max-width: 100%;
}

img#basicPicture{
	width: 100%;
	margin: 15px auto;
}

p#footerText{
	margin:5px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #fff;
}

p#imgURL, a{
	max-width: 100%;
	overflow-wrap: break-word;
	font-family: 'Ubuntu', sans-serif;
	color: #8697cb;
	text-decoration: none;
}

#header{
	margin: 15px 0;
	width: 100%;
}

#imageFeaturedWork{
	height: 75px;
	width: 75px;
	/*Miss this and your image cannot center*/
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
}

#logo{
	height: 75px;
	width: 75px;
	max-width: 100%;
	margin: 5px;
	/*Allows the picture to allow another element*/
	float: left;
	vertical-align: middle;
}

#myName, #ninja{
	text-transform: uppercase;
}

@media screen and (max-width: 799px) {
	body{
		width: 100%;
	}

	#logo{
		height: 55px;
		width: 55px;
	}

	#imageFeaturedWork{
	height: 45px;
	width: 45px;
	}
}

@media screen and (max-width: 550px) {
	figure#figFeaturedWork{
		width: 100%;
		margin: 10px;
	}

	h1{
		font-size: 1.5em;
	}

	#logo{
		height: 45px;
		width: 45px;
		margin: 10px;
	}
}

/*.social{
	
}*/

/*a:hover [class*="zocial-"]:before {
	color: #000;
}*/

/*.social:last-of-type{

}*/

/*@import url(http://weloveiconfonts.com/api/?family=zocial);*/

/* zocial */
/*[class*="zocial-"]:before {
  	font-family: 'zocial', sans-serif;
  	color: #7ac673;
	margin: 20px;
}*/

/*.icons{
  	font-size: 70px;
  	color: #fff;
	margin: 20px;
}*/

/*[class*="fa fa-"]:before {
  	font-size: 200px;
  	color: #f7f683;
	margin: 20px;
}*/

/*i.fa {
    font-size: 50px;
    color: #f7f683;
    margin: 5px;
}*/
